/* Blue */
body {
	&.admin-color-blue {
		.ui-datepicker {
			.ui-widget-header,
			.ui-datepicker-header {
				background: #096484;
			}

			thead {
				background: #4796b3;
			}

			td .ui-state-hover {
				background: #096484;
			}
		}
	}
}
