/* Coffee */
.admin-color-coffee .ui-datepicker {
	.ui-widget-header,
	.ui-datepicker-header {
		background: #59524c;
	}

	thead {
		background: #46403c;
	}

	td .ui-state-hover {
		background: #c7a589;
	}
}
