/* Evergreen */
body {
	&.admin-color-bbp-evergreen {
		.ui-datepicker {
			.ui-widget-header,
			.ui-datepicker-header {
				background: #56b274;
			}

			thead {
				background: #36533f;
			}

			td .ui-state-hover {
				background: #446950;
			}
		}
	}
}
