/* Fresh */
body {
	&.admin-color-fresh {
		.ui-datepicker {
			.ui-widget-header,
			.ui-datepicker-header {
				background: #2271b1;
			}

			thead {
				background: #2c3338;
			}

			td .ui-state-hover {
				background: #2271b1;
			}
		}
	}
}
