/* Light */
.admin-color-light .ui-datepicker {
	.ui-widget-header,
	.ui-datepicker-header {
		background: #8c8f94;
	}

	thead {
		background: #50575e;
	}

	td .ui-state-hover {
		background: #04a4cc;
	}
}
