/* Midnight */
body {
	&.admin-color-midnight {
		.ui-datepicker {
			.ui-widget-header,
			.ui-datepicker-header {
				background: #363b3f;
			}

			thead {
				background: #26292c;
			}

			td .ui-state-hover {
				background: #e14d43;
			}
		}
	}
}
