/* Modern */
body {
	&.admin-color-modern {
		.ui-datepicker {
			.ui-widget-header,
			.ui-datepicker-header {
				background: #3858e9;
			}

			thead {
				background: #26292c;
			}

			td .ui-state-hover {
				background: #3858e9;
			}
		}
	}
}
