/* Sunrise */
.admin-color-sunrise .ui-datepicker {
	.ui-widget-header,
	.ui-datepicker-header {
		background: #e65054;
	}

	thead {
		background: #b32d2e;
	}

	td .ui-state-hover {
		background: #dd823b;
	}
}
