/* Date Picker Default Styles */
.ui-datepicker {
	padding: 0;
	margin: 0;
	border-radius: 0;
	background-color: #fff;
	border: 1px solid #dfdfdf;
	border-top: none;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
	min-width: 17em;
	width: auto;
	z-index: 1000 !important;

	* {
		padding: 0;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
		border-radius: 0;
	}

	table {
		font-size: 13px;
		margin: 0;
		border: none;
		border-collapse: collapse;
	}

	.ui-widget-header,
	.ui-datepicker-header {
		background-image: none;
		border: none;
		color: #fff;
		font-weight: normal;
	}

	.ui-datepicker-header {
		.ui-state-hover {
			background: transparent;
			border-color: transparent;
			cursor: pointer;
		}
	}

	.ui-datepicker-title {
		margin: 0;
		padding: 10px 0;
		color: #fff;
		font-size: 14px;
		line-height: 14px;
		text-align: center;
	}

	.ui-datepicker-prev,
	.ui-datepicker-next {
		position: relative;
		top: 0;
		height: 34px;
		width: 34px;
	}

	.ui-state-hover {
		&.ui-datepicker-prev,
		&.ui-datepicker-next {
			border: none;
		}
	}

	.ui-datepicker-prev,
	.ui-datepicker-prev-hover {
		left: 0;
	}

	.ui-datepicker-next,
	.ui-datepicker-next-hover {
		right: 0;
	}

	.ui-datepicker-prev {
		float: left;
	}

	.ui-datepicker-next {
		float: right;
	}

	.ui-datepicker-next,
	.ui-datepicker-prev {
		span {
			display: none;
		}
	}

	.ui-datepicker-prev:before,
	.ui-datepicker-next:before {
		font: normal 20px/34px 'dashicons';
		padding-left: 7px;
		color: #fff;
		speak: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		width: 34px;
		height: 34px;
	}

	.ui-datepicker-prev:before {
		content: '\\f341';
	}

	.ui-datepicker-next:before {
		content: '\\f345';
	}

	.ui-datepicker-prev-hover:before,
	.ui-datepicker-next-hover:before {
		opacity: 0.7;
	}

	select {
		&.ui-datepicker-month,
		&.ui-datepicker-year {
			width: 33%;
		}
	}

	thead {
		color: #fff;
		font-weight: 600;
	}

	th {
		padding: 10px;
	}

	td {
		padding: 0;
		border: 1px solid #f4f4f4;

		&.ui-datepicker-other-month {
			border: transparent;
		}
	}

	tr:first-of-type td {
		border-top: 1px solid #f0f0f0;
	}

	td {
		&.ui-datepicker-week-end {
			background-color: #f4f4f4;
			border: 1px solid #f0f0f0;
		}

		&.ui-datepicker-today {
			background-color: #f0f0c0;
		}

		&.ui-datepicker-current-day {
			background: #bbdd88;
		}

		.ui-state-default {
			background: transparent;
			border: none;
			text-align: center;
			text-decoration: none;
			width: auto;
			display: block;
			padding: 5px 10px;
			font-weight: normal;
			color: #444;
		}

		&.ui-state-disabled .ui-state-default {
			opacity: 0.2;
			background: #dfdfdf;
			cursor: default;
		}
	}
}
