/* WordPress Color Schemes */

/* Default/Unknown */
.ui-datepicker {
	.ui-widget-header,
	.ui-datepicker-header {
		background: #00a0d2;
	}

	thead {
		background: #32373c;
	}

	td .ui-state-hover {
		background: #0073aa;
		color: #fff;
	}
}

/* Fresh */
.admin-color-fresh .ui-datepicker {
	.ui-widget-header,
	.ui-datepicker-header {
		background: #00a0d2;
	}

	thead {
		background: #32373c;
	}

	td .ui-state-hover {
		background: #0073aa;
		color: #fff;
	}
}

/* Blue */
.admin-color-blue .ui-datepicker {
	.ui-widget-header,
	.ui-datepicker-header {
		background: #52accc;
	}

	thead {
		background: #4796b3;
	}

	td .ui-state-hover {
		background: #096484;
		color: #fff;
	}
}

/* Coffee */
.admin-color-coffee .ui-datepicker {
	.ui-widget-header,
	.ui-datepicker-header {
		background: #59524c;
	}

	thead {
		background: #46403c;
	}

	td .ui-state-hover {
		background: #c7a589;
		color: #fff;
	}
}

/* Ectoplasm */
.admin-color-ectoplasm .ui-datepicker {
	.ui-widget-header,
	.ui-datepicker-header {
		background: #523f6d;
	}

	thead {
		background: #413256;
	}

	td .ui-state-hover {
		background: #a3b745;
		color: #fff;
	}
}

/* Midnight */
.admin-color-midnight .ui-datepicker {
	.ui-widget-header,
	.ui-datepicker-header {
		background: #363b3f;
	}

	thead {
		background: #26292c;
	}

	td .ui-state-hover {
		background: #e14d43;
		color: #fff;
	}
}

/* Modern */
.admin-color-modern .ui-datepicker {
	.ui-widget-header,
	.ui-datepicker-header {
		background: #3858e9;
	}

	thead {
		background: #26292c;
	}

	td .ui-state-hover {
		background: #3858e9;
		color: #fff;
	}
}

/* Ocean */
.admin-color-ocean .ui-datepicker {
	.ui-widget-header,
	.ui-datepicker-header {
		background: #738e96;
	}

	thead {
		background: #627c83;
	}

	td .ui-state-hover {
		background: #9ebaa0;
		color: #fff;
	}
}

/* Sunrise */
.admin-color-sunrise .ui-datepicker {
	.ui-widget-header,
	.ui-datepicker-header {
		background: #cf4944;
	}

	thead {
		background: #be3631;
	}

	td .ui-state-hover {
		background: #dd823b;
		color: #fff;
	}
}

/* Light */
.admin-color-light .ui-datepicker {
	.ui-widget-header,
	.ui-datepicker-header {
		background: #888;
	}

	thead {
		background: #555;
	}

	td .ui-state-hover {
		background: #888;
		color: #fff;
		background: #888;
	}
}

/* bbPress Color Schemes */

/* Evergreen */
.admin-color-bbp-evergreen .ui-datepicker {
	.ui-widget-header,
	.ui-datepicker-header {
		background: #56b274;
	}

	thead {
		background: #36533f;
	}

	td .ui-state-hover {
		background: #446950;
		color: #fff;
	}
}

/* Mint */
.admin-color-bbp-mint .ui-datepicker {
	.ui-widget-header,
	.ui-datepicker-header {
		background: #4ca26a;
	}

	thead {
		background: #4f6d59;
	}

	td .ui-state-hover {
		background: #5fb37c;
		color: #fff;
	}
}
